:root{
    --dark-background: #0b131d;
    --dark-foreground: #121824;

    --light-background: #f2f6f9;
    --light-foreground: #ffffff;

    --background-green: #183033;
    --foreground-green: #4da592;

    --background-blue: #22214d;
    --foreground-blue: #4774fa;

    --background-red: #322427;
    --foreground-red: #eb5940;

    --background-purple: #1d1f3a;
    --foreground-purple: #715bc5;

    --background-orange: #534532;
    --foreground-orange: #ef6f1d;

    --dark-grey: #ffffff5a;
    --light-grey: #a0abbd;
}