.item{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 10px;


    &.selected{
        background-color: var(--color-accent);

        svg{
            color: white;
        }

        p{
            color: white;
        }

        &:hover{
            cursor: pointer;
        }
    }

    &:not(.selected):hover{
        background-color: var(--color-fade-accent);
        cursor: pointer;
    }
}

.icon{
    width: 20px;
    height: 20px;
}