.main{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .addBoard{
        width: 250px;
        height: 400px;
        background-color: var(--color-bg-elevated);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: dashed;
        border-width: 0.5px;
        border-color: var(--dark-grey);

        &:hover{
            cursor: pointer;
        }
    }

    .boardBlock{
        margin-top: 10px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
}