.sidebar{
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: start;
    padding: 20px;
    position: relative;
    gap: 30px;
    background-color: var(--color-bg-elevated);

    header{
        display: flex;
        width: 100%;
        align-items: center;
        gap: 20px;
    }

    .account{
        width: 100%;
        background-color: var(--color-bg);
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 10px;
        

        .accountAvatar{
            width: 50px;
            height: 50px;
            border-radius: 50px;
        }

        .accountPersonalInfo{
            display: flex;
            flex-direction: column;

            p{
                margin: 0;
            }

            .accountLogin{
                color: #727b8c;
            }

        }

        .accountArrow {
            width: 20px;
            height: 20px;
        }
    }

    ul{
        flex: 1;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

        li{
            width: 100%;
            padding-top: 20px;

            &:first-child{
                padding-top: 0;
            }
        }
    }
}