.main{
    width: 100%;
    border-radius: 20px;
    display: flex;
    background-color: var(--color-bg-elevated);
    justify-content: space-between;
    padding: 20px;

    div{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}