:root{
    --red: #eb5940;
    --blue: #4774fa;
    --orange: #ef6f1d;
    --green: #4da592;
    --purple: #715bc5;
    --light-green: #6bb919;
    --fade-light-green: #91e63863;

    --black-blue: #0b131d;
    --dark-blue: #121824;

    --dirty-white: #f2f6f9;
    --clear-white: #ffffff;
}