:root{
    --red: #eb5940;
    --blue: #4774fa;
    --orange: #ef6f1d;
    --green: #4da592;
    --purple: #715bc5;
    --light-green: #6bb919;
    --fade-light-green: #91e63863;

    --black-blue: #0b131d;
    --dark-blue: #121824;

    --dirty-white: #f2f6f9;
    --clear-white: #ffffff;

    --background-green: #183033;
    --foreground-green: #4da592;

    --background-blue: #22214d;
    --foreground-blue: #4774fa;

    --background-red: #322427;
    --foreground-red: #eb5940;

    --background-purple: #1d1f3a;
    --foreground-purple: #715bc5;

    --background-orange: #534532;
    --foreground-orange: #ef6f1d;
}